extends layout

block content
  header
    .logo 
      a(href="/") Assassin

    nav
      a(href="#") New game
      a(href="/auth/logout") Log out

    label(for="togglenav").mobile-button.mobile-only

  input(type="checkbox", id="togglenav")
  .content
    pre.container= user