extends layout

block content
  header
    .logo 
      a(href="/") Assassin

    nav
      a(href="#") New game
      a(href="/auth/logout") Log out

    label(for="togglenav").mobile-button.mobile-only

  input(type="checkbox", id="togglenav")
  .content
    pre.container= user

  footer
    .container
      .copyright
        | &copy; Copyright 2015&nbsp;
        a(href='http://www.zackmichener.net/') Zack Michener
      a(href='/legal') Legal
