extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .hero.row
    .container
      .row.title
        .col-sm-12.col-md-8.col-md-offset-2
          h1 Assassin
          p.leader Kill them all

      .row
        .col-sm-12
          .start-button
            a.btn.btn-lg.btn-default.disabled Coming Soon

  .second.row
    .container
      .col-sm-12
        h2 Join fiercest killers on Earth

        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
          | euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
          | minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
          | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in.

  .third.row
    .container
      .col-xs-12.col-sm-8.col-sm-offset-4.col-md-6.col-md-offset-6
        h2 How to Play
        ol
          li Sign up and start a game with your friends
          li Receive your first assignment
          li Kill your assignment, and receive their assignment
          li Continue until you're eliminated or you become the champion!
