extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .hero.row
    .container
      .row.title
        .col-sm-12.col-md-8.col-md-offset-2
          h1 Assassin
          p.leader Kill them all

      .row
        .col-sm-12
          .start-button
            a.btn.btn-lg.btn-default.disabled Coming Soon

  .second.row
    .container
      .col-sm-12
        p Some have a calling.