extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .hero
    .container
      .title
        h1 Assassin
        p.leader Kill them all.

      .start-button
        a(href="/auth/facebook"): button
          | Log in


  .content
    .container
      h2 Join the fiercest killers on Earth
      p.subheading.text-muted.mobile-hidden Everyone is born with a gift. Sometimes that gift is murder.

      p= 'Play the '
        a(href='http://en.wikipedia.org/wiki/Assassin_%28game%29', target='_blank') classic live-action game Assassin
        | , but with a modern twist. Instead of eliminating players by touching them with objects or placing bombs, players are killed by "shooting" them with your camera. Play with your friends, earn points, and compete with players across the world.

      h2 How to Play
      ol
        li Sign up and start a game with your friends
        li Kill your assigned target by uploading a photo here
        li When your kill is confirmed, you are assigned their target
        li Confirm other players' kills for more points
        li Continue until you're eliminated or you become the champion!


  footer
    .container
      .copyright
        | &copy; Copyright 2015&nbsp;
        a(href='http://www.zackmichener.net/') Zack Michener
      a(href='/legal') Legal
