extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .hero
    .container
      .row.title
        .col-sm-12.col-md-8.col-md-offset-2
          h1 Assassin
          p.leader Kill them all