doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/bootstrap.min.js')
    block head
    
  body
    block content