doctype html
html
  head
    if title
      title!= title + " &middot; Assassin"
    else
      title Assassin &middot; Kill them all

    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    block head
    
  body
    block content