extends layout

block content
  .container
    .row
      .col-xs-12
        h1 Legal
        p Images used on this site were retrieved from the following sites and modified for use:
        ul
          li: a(href='https://unsplash.com/') Unsplash
          li: a(href='http://ask-cryaotic.deviantart.com/art/Enjoy-this-picture-of-Admin-s-friend-365664070') Deviantart