.row {
  margin: 0px;
  padding: 24px 0px;
}

h2 {
  margin-bottom: 30px;
}

.hero {
  background-image: url('/images/assassin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -10px 10px -10px;
  height: 600px;

  .title {
    margin-top: 26px;
    margin-bottom: 176px;
  }

  h1 {
    color: white;
    font-size: 4em;
  }

  .leader {
    margin-top: 40px;
    font-size: 2.3em;
    opacity: 0.6;
  }

  .start-button {
    text-align: center;

    .disabled {
      opacity: 0.85;
    }
  }

}

.second {

  p {
    line-height: 1.5;
    font-size: 1.5em;
  }
}

.third {
  background-color: #eee;
  font-size: 1.5em;
  line-height: 1.5;

  ol {
    padding-left: 24px;
  }
}