.row {
  margin: 0px;
  padding: 24px 0px;
  line-height: 1.5;
  font-size: 1.5em;
}

h2 {
  margin-bottom: 30px;
}

.subheading {
  margin-top: -20px;
  margin-bottom: 20px;
}

.well-photo {
  border-radius: 12px;
  box-shadow: inset 0px 0px 10px black;
  background-size: contain;
  width: 400px;
  height: 400px;
}

.kill-example {
  background-image: url('/images/kill_example.jpg');
}

.hero {
  background-color: #999;
  background-image: url('/images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -10px 10px -10px black;
  height: 600px;
  line-height: 1;

  .title {
    margin-top: 26px;
    margin-bottom: 176px;
  }

  h1 {
    color: white;
    font-size: 56px;
  }

  .leader {
    margin-top: 40px;
    font-size: 32px;
    opacity: 0.6;
  }

  .start-button {
    text-align: center;

    .disabled {
      opacity: 0.85;
    }
  }

}

.third {
  background-color: #999;
  background: url('/images/crosshair.jpg') 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
  text-shadow: black 0px 0px 2px;
  color: #eee;
  line-height: 1.5;
  box-shadow: 
    inset 0px  10px 10px -10px black,
    inset 0px -10px 10px -10px black;
  padding: 48px 0px;

  ol {
    padding-left: 24px;
  }

}

.footer {
  background-color: #999;
  box-shadow: inset 0px 10px 10px -10px black;
  font-size: 1em;
}