.row {
  margin: 0px;
}

.hero {
  background-image: url('/images/assassin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -10px 10px -10px;
  height: 600px;

  .title {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  h1 {
    color: white;
    font-size: 4em;
  }

  .leader {
    margin-top: 40px;
    font-size: 2.3em;
    opacity: 0.6;
  }

  .start-button {
    text-align: center;
  }
}

.second {
  padding: 24px 0px;
  height: 300px;
  background-color: #ddd;
}

