<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Assassin</title>
  <script type='text/javascript' src='/app.js'></script>
</head>
<body>
  <div id='root'></div>
</body>
</html>