doctype html
html
  head
    if title
      title!= title + " &middot; Assassin"
    else
      title Assassin &middot; Kill them all

    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
    
  body
    block content